body {
    background-color: black;
    margin-top: 20px; 
}

h1 {
    color: orange;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
}

p {
    color: black;
    background-color: orange;
    font-family: 'Press Start 2P', cursive;
    font-size: 23px;
}

#Header {
    text-align: center;
    border: dashed;
    border-color: orange;
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;  
}

#Description {
    border: dashed;
    border-color: orange;
    text-align: center;
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#randomnumber,
#winlosscounter,
#userscore  {
    border: dashed;
    border-color: black;
    text-align: center;
/*    margin: 350px;*/
    margin: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: orange;
    padding: 10px;
}

#crystals {
    text-align: center;
    margin: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
        border: dashed;
    border-color: black;
    background-color: orange;

}